.splash-anim {
    width: 100px;
    animation: splash 2s forwards;
    transform-origin: 50% 100%;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 10px;
    width: 50px;
    animation: shadow 2s forwards;
}

.newStart-anim {
    text-align: center;
    width: 50%;
    border-radius: 6px;
    max-height: 0;
    transform-origin: 50% 50%;
    animation: 1.5s newStart 1s forwards;
    overflow: hidden;
}

@keyframes newStart {
    100% {
        max-height: 500px;
        padding: 20px;
    }
}

@keyframes splash {
    0% {
        padding-bottom: 150px;
    }
    50% {
        transform: scaleX(0.6) scaleY(1.4);
        padding-bottom: 150px;
    }
    70% {
        transform: scaleX(1.5) scaleY(0.5);
    }
}

@keyframes shadow {
    0% {
        width: 0;
    }
    60% {
        width: 0;
    }
    70% {
        width: 100px;
    }
}